.brand{

display:flex;

align-items:center;

gap:15px;

margin-bottom:35px;

}

.logo{

width:56px;

height:56px;

border-radius:50%;

background:#e11d48;

display:flex;

justify-content:center;

align-items:center;

font-size:28px;

}

.brand h2{

font-size:22px;

}

.brand span{

font-size:13px;

color:#a1a1aa;

}

.sidebar-footer{

position:absolute;

left:20px;

right:20px;

bottom:20px;

}

.version{

font-size:12px;

color:#71717a;

line-height:1.7;

}
