.wrapper{

display:grid;

grid-template-columns:260px 1fr;

height:100vh;

}

.sidebar{

background:#141418;

border-right:1px solid #2f2f36;

overflow:auto;

}

.content{

overflow:auto;

padding:30px;

}
