.project-grid{

display:grid;

grid-template-columns:repeat(auto-fill,minmax(320px,1fr));

gap:25px;

}

.project-card{

background:#18181b;

border-radius:18px;

padding:20px;

transition:.25s;

border:1px solid #27272a;

}

.project-card:hover{

transform:translateY(-6px);

border-color:#52525b;

}

.project-top{

display:flex;

gap:15px;

align-items:center;

margin-bottom:20px;

}

.project-icon{

width:55px;

height:55px;

border-radius:15px;

display:flex;

justify-content:center;

align-items:center;

font-weight:bold;

color:white;

}

.project-top p{

color:#a1a1aa;

font-size:14px;

}

.project-info{

display:flex;

justify-content:space-between;

font-size:13px;

margin-bottom:15px;

color:#a1a1aa;

}

.project-bottom{

display:flex;

justify-content:space-between;

align-items:center;

margin-top:15px;

}

.project-bottom button{

padding:9px 18px;

background:#e11d48;

color:white;

border-radius:10px;

}
